# dependencies
node_modules
.pnpm-store

# next.js
.next
out

# production
build
dist

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*
pnpm-debug.log*

# turbo
.turbo

# misc
.DS_Store
*.tsbuildinfo
